/************************************
		    BOOTSTRAP CSS
************************************/

.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty{
    border-color:#f00;
}
.ng-valid.ng-dirty{
    border-color:#0f0;
}


/************************************
		    CUSTOM CSS
************************************/

button.redBg {
	background-color: #a00;
	color: white;
}

/******************************
		    HOME PAGE
******************************/
div.header {
	background-color: #a00;
}

.homeColor, .signColor {
	color: white;	
}

.homeColor {
	padding-left: 30px;
	color: white;
}

.colorHover:hover {
	color: #ccc;
	/*background-color: #fff;*/
}

body {
	background: url('../img/homepage.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #ccc;
}

div.logoUp {
	margin-top: -70px;
}

img.iconresize {
	height: 70px;
	width: 70px;
}

span.appname {
	font-family:'Quattrocento Sans', 'Open Sans', sans-serif;
	color: #000;
	font-size: 8em;
	position: relative;
	top: 35px;
}

div.quote {
	margin-top: 100px;
	font-family: roboto, arial, sans-serif;
	font-weight: 100;
	color: white;
	font-size: 2em;
	background-color: rgba(0, 0, 0, .5);
}

/******************************
		MEDIA QUERIES
******************************/

@media screen and (max-width: 1200px){
	span.appname {
		font-size: 6em;
	}
}

@media screen and (max-width: 970px) {
	div.quote{
		font-size: 2.5em;
	}

	span.appname {
		font-size: 5em;
	}

	img.iconresize {
		margin-top: 30px;
	}
}

@media screen and (max-width: 786px) {
	div.quote {
		font-size: 1.8em;
	}

	span.appname {
		font-size: 3em;
		line-height: 0;
	}

	img.iconresize {
		height: 50px;
		width: 50px;
		margin-top: 50px;
	}
}