/************************************
		    GENERAL CSS
************************************/
div.errorMsg, div.errorMsg_sell {
	background-color: #a00;
	width: 100%;
	color: white;
	text-align: center;
	font-size: 1.2em;
}

/************************************
		    HEADER CSS
************************************/

a.dropdown-toggle {
	font-family: 'comic sans MS', cursive;
	color: #fff;
	background-color: rgba(255, 255, 255, 0);
}

a.dropdown-toggle:hover, nav > li.floatRight a:hover {
	text-decoration: none;
	color: white;
	background-color: rgba(0, 0, 0, .5)
}

/************************************
		   	  LIST CSS
************************************/

div.moveup {
	margin-top: -20px;
}

div.listitem {
	width: 25%;
	padding: 10px;
	color: black;
}

input#resize {
	width: 200px;
	margin-bottom: 20px;
}

input#btnresize {
	margin-bottom: 20px;
}

span.colored, span.colorChange {
	padding: 5px 15px 5px 10px;
	color: white;
}

.colored {
	background-color: #040;
}

.colorChange {
	background-color: #a00;
}

img.resizeicon {
	height: 40px;
	width: 40px;
}

div.listedItems {
	overflow: auto;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-o-border-radius: 20px;
	background-color: rgba(240, 240, 240, .7);
	height: 220px;
	box-shadow: 0 0 10px #a00;
}

div.itemHover {
	width: 100%;
	height: 40px;
	background-color: rgba(240,240, 240, .7);
}

div.itemHover:hover {
	background-color: rgb(200, 200, 200);
}

h1 {
	color: white;
	background-color: #a00;
	width: 250px;
	text-align: center;
}

button.redBg_report, button.redBg_report a {
	color: white;
	background-color: #a00;
}

button.redBg_report:hover, button.redBg_report a:hover {
	background-color: #900;
	text-decoration: none;
}

button.redBg_report {
	margin-top: 10px;
	margin-left: 10px;
}

div.alert {
	color: #a00;
	font-size: 1.5em;
}

/*************************
	   MEDIA QUERIES
**************************/

@media screen and (max-width: 1200px) {
	
	div.listitem {
		width: 20%;
	}

	div.itemHover {
		display: -webkit-flex;
		height: 70px;
	}
}

@media screen and (max-width: 700px) {
	
	div.itemHover {
		height: 100px;
	}
}

@media screen and (max-width: 480px) {
	
	div.itemHover {
		height: 220px;
		display: -webkit-flex;
		-webkit-justify-content: space-between;
	}

	div.listitem {
		width: 5%;
	}
}

/************************************
		   CREATE PAGE CSS
************************************/

option.itemadd{
	font-family: arial, sans-serif;
	color: black;
}

div.controls {
	width: 300px;
}

input.btn, input.btn:hover {
	background-color: #a00;
	color: white;
}

input.btn:hover {
	background-color: #900;
}

label.create, label.edit {
	font-size: 1.2em;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	background-color: rgba(0, 0, 0, .7);
	margin: 5px 0;
}

div.wrap_add, div.wrap_add_edit {
	padding-left: 40px;
	background-color: rgb(240, 240, 240);
	width: 350px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	box-shadow: 0 0 10px #a00;
	margin-top: -17px;
}

.btnSpace {
	margin-top: -10px;
}

/*************************
	   MEDIA QUERIES
**************************/

@media screen and (max-width: 320px) {
	div.wrap_add {
		width: 80%;
	}

	input.padDown {
		width: 60%;
	}
}

/************************************
		   EDIT PAGE CSS
************************************/

label.edit {
	font-size: 1em;
	margin: 5px 0;
}

h1.wrap_edit {
	margin-top: -40px;
}

/*************************
	   MEDIA QUERIES
**************************/

@media screen and (max-width: 1200px) {
	div.re-move_edit {
		margin-top: 80px;
	}
}

/************************************
		    VIEW PAGE CSS
************************************/

div.wrapView {
	display: -webkit-flex;
	-webkit-justify-content: space-between;
	padding: 20px;
	background-color: rgb(240, 240, 240);
	border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	box-shadow: 0 0 10px #a00;
	text-align: center;
}

input.midTxt {
	text-align: center;
}

/*************************
	   MEDIA QUERIES
**************************/

@media screen and (max-width: 480px) {
	div.wrapView {
		display: block;
	}
}

/************************************
		   REPORT PAGE CSS
************************************/

div.report {
	background-color: rgb(240, 240, 240);
	height: 400px;
	width: 100%;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-o-border-radius:20px;
	overflow: auto;
	margin-top: 30px;
}

table {
	width: 100%;
}

.tableAlign {
	width: 16.6666%;
	text-align: center;
}

th.tableAlign {
	padding-top: 10px;
}

td.tablePadding {
	padding: 10px 0;
}

div.btnPad {
	padding-right: 29px;
}

button.redBg_report {
	position: relative;
	float: right;
}

/*************************
	   MEDIA QUERIES
**************************/

@media print {
	span.appname {
		font-size: 4em;
	}

	img.iconresize {
		margin-top: 40px;
	}

	button.redBg_report {
		display: none;
	}
}
